@font-face {
    font-family: "kodomo";
    src: url("./assets/fonts/KodomoRounded.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "kodomo";
    font-size: 62.5%;
}

html {
    color: rgb(50, 50, 50);
}

body {
    text-align: center;
    background-color: #fffd63;
    overscroll-behavior-y: contain;
}

img {
    height: 100%;
}