@font-face {
    font-family: "kodomo";
    src: url("./assets/fonts/KodomoRounded-Light.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "kodomo";
    font-size: 62.5%;
}

html {
    color: rgb(50, 50, 50);
}

body {
    background-image: url('./assets/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overscroll-behavior-y: contain;
    min-height: 100vh;
}

img {
    height: 100%;
}

.game-board {
    max-width: 350px;
    margin: 15px auto;
    position: relative;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}